<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">
	<test name="phptravel">
	<groups>
            <run>
                <include name="Module1"/>
            </run>
        </groups>
		<classes>			
			<class name="testCases.DriverScript" >
			</class>
		</classes>
		
	</test>
	


</suite>